@using Parser.Model;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Data_Repository> receive = Model;
}

<title>@ViewBag.Title - ASP.Net MVC Work</title>

<p></p>

@*Data Filter*@
<form class="form-inline" method="post" action="~/DataOutput/DataSearch">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="搜尋條件"
               name="search" id="search"
               value="@ViewBag.Search">
    </div>

    <button type="submit" class="btn btn-default">搜尋</button>
</form>

<hr />

@*資料顯示*@
<div class="list-group">
    <a href="#" class="list-group-item active">
        紫外線監控站點  —  共有 @Model.Count 筆資料
    </a>

    @for (int i = 0; i < receive.Count; i++)
    {
        <a class="list-group-item">
            <h4 class="list-group-item-heading">站點名稱：@receive[i]._Parser_SiteName</h4>
            <p class="list-group-item-text">站點位置：@receive[i]._Parser_County</p>
        </a>
    }
</div>